{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href={% static "/css/index_style.css" %}>
{#    <link rel="shortcut icon" href="./Automl.png" type="image/x-icon">#}
 
</head>
<body>
    <header>
        <div class="navcontainer">
            <nav>
                <ul class="nav-links">
                    <li>
                        <a href="/">Home</a>
                    </li>
                       <li>
                           <a href="">Contact</a>
                       </li> 
                       <li>
                           <a href="/login">Login</a>
                        </li>
                        <li>
                            <a href="">About</a>

                        </li>
                       

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="imagecontainer">
                <img src={%  static "/images/3242852.jpg" %} alt="error occured" height="400px">
            </div>
            <div class="infocontainer">
                <div class="heading">
                    <div class="heading_inside">
                        <h1 id="myname">HB's </h1>
                        <h1 id="ml"> Driverless ML</h1>
                    </div>
                    <h1 id="automl">AutoMated Machine Learning</h1>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusamus quaerat officia reiciendis voluptas. Eligendi iste, dolorum voluptatibus fugiat a placeat accusamus sequi quam provident labore doloribus natus suscipit modi reiciendis odio quibusdam consequatur animi quas eos possimus doloremque at?</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footercontainer">

            
        </div>
    </footer>
</body>
</html>